@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    min-width: 450px;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#1D2B64, #F8CDDA);
}

a {
    text-decoration: none;
    color: white
}

.main-theme {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color:#29346a;
    top: 0;
    left: 0;
    z-index: 100;    
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6rem;    
}

.main-theme.hide {    
    visibility: hidden;  
    opacity: 0;
    transition: 1.5s  
}

.theme-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;  
    user-select: none;
}

.theme-navigation {
    width: 900px;
    display: flex;    
    font-size: 2rem;         
}

.your-geolocation {
   margin-right: 14rem;
}

.your-geolocation, .search-by-button {   
   border: 3px solid white;
   background-color: #29346a;
   color: #fff;
   width: 310px; 
   height: 85px;
   text-align: center;
   transition: 1s;
}

.your-geolocation.hide, .search-by-button.hide { 
    transition: 0.1s;
    visibility: 0;
    opacity: 0;
}

.your-geolocation:hover, .search-by-button:hover{
    background-color: #fff;
    color: #29346a;
    transition: .5s;
}

.search-menu-theme {   
    width: 50%; 
    position: fixed;
    margin-top: 1.1rem;
    visibility: hidden;
    opacity: 0;
    transform: translate(100%, 0px);
    transition: 1s;    
}

.search-menu-theme.show {  
    max-width: 915px;  
    visibility: visible;
    opacity: 1;
    transition: 1s;
    transform: translate(-2%, 0px);
}

header {
    text-shadow: 1px 1px black;
    font-weight: 750;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

header>.logo {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.logo>.logo-text {
    margin-right: 0.5rem;
    font-size: 1.7rem;
}

.search-menu {
    width: 50%;
    position: relative;
    margin-top: 1.1rem;
}

input[type=text] {
    border: 1px solid white;
    width: 95%;
    outline: 0;
    border-radius: 15px;
    height: 3rem;
    text-indent: 10px;
    font-family: inherit;
}

input[type=text]:focus {
    border: 2px solid black;
}

form button {
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 4rem;
    border: 0;
    background: 0;
    outline: 0;
}

.about {
    display: flex;
    margin-top: 1.5rem;
    line-height: 2;
}

.about-us {
    margin-right: 4rem;
}

.about-us, .about-api {
    font-size: 1.2rem;
    height: 100%;
    padding: 0 0.5rem;
}

.about-us:hover, .about-api:hover {
    border-bottom: 2px solid white;
}

.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);    
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.popup.show{
    visibility: visible;
    opacity: 1;
}

.popup.show .popup-content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.far {
    cursor: pointer;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;    
}
.popup-content {    
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    max-width: 1000px;
    padding: 30px;
    position: relative;
    transition: all 0.5s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup-close {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 1.5rem;
    color: #000;
}
.popup-title {
    font-size: 2rem;
    margin: 0px 0px 1em 0px;
}
.popup-text {
    font-size: 1.5rem;
    font-family: Helvetica;
}

/*****************************************************
***************************M**************************
***************************A**************************
***************************I**************************
***************************N**************************
*****************************************************/

main {
    align-self: center;
}

.container {
    text-shadow: 1px 1px black;
    max-width: 600px;    
    display: flex;
    justify-content: space-between;    
}

.button-left, .button-right {
    margin: 0, 2rem;
    height: 175px;
    width: 75px;
    background-color: rgb(195, 195, 195);
    opacity: 15%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center; 
    cursor: pointer;  
    visibility: hidden; 
}
.button-left.show, .button-right.show {
    visibility: visible;
}

.button-left:hover, .button-right:hover {
    opacity: 65%;    
}
.button-left { 
    margin-right: 3rem;
}

.button-right { 
  margin-left: 3rem;  
} 

.details {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px black;
}

.temperature {
    font-size: 6rem;
    font-weight: 900;
    margin-top: 2rem;
    text-shadow: 2px 5px black;
}

.feels-like {
    margin-bottom: 2rem;
}

span {
    font-weight: normal;
}

.location-data {
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 0.5rem;
}

.date-data {
    margin: 0 auto;
    font-size: 1rem;
}

.description {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;    
}