@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    
}

body { 
    min-width: 1170px;   
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: linear-gradient(#1D2B64, #F8CDDA); */
    background: linear-gradient(#e2aabb,#5a5ff5);
}

main {        
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

a {
    text-decoration: none;
    color: white
}

.main-theme {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color:#2d1288;
    top: 0;
    left: 0;
    z-index: 100;    
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6rem;  
    visibility: hidden;  
    opacity: 1;
    transition: 1s;
}

.main-theme.hide {    
    visibility: hidden;  
    opacity: 0;
    transition: 1s  
}

.theme-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;  
    user-select: none;
}

.theme-navigation {
    width: 900px;
    display: flex;    
    font-size: 2rem;         
}

.your-geolocation {
   margin-right: 14rem;
}

.your-geolocation, .search-by-button {   
   border: 3px solid white;
   background-color: #2d1288;
   color: #fff;
   width: 310px; 
   height: 85px;
   text-align: center;
   transition: 1s;
   visibility: hidden;
   cursor: pointer;
}

.your-geolocation.hide, .search-by-button.hide { 
    transition: 0.1s;
    visibility: hidden;
    opacity: 0;
}

.your-geolocation:hover, .search-by-button:hover{
    background-color: #fff;
    color: #29346a;
    transition: .5s;
}

.search-menu-theme {   
    width: 50%; 
    position: fixed;
    margin-top: 1.1rem;
    visibility: hidden;
    opacity: 0;    
    transition: 1s;    
}

.form-theme {
    position: relative;
}

.close-search {
    position: absolute;
    top: 0.5rem;
    left: -2.5rem;
    height: 2rem;
    width: 2rem;     
}

.search-menu-theme.show {  
    max-width: 915px;  
    visibility: visible;
    opacity: 1;
    transition: 1s;    
}


header {    
    background-color: #2d1288;   
    text-shadow: 1px 1px black;
    font-weight: 750;    
    width: 100%;    
    white-space: nowrap;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.header-burger {
    position: absolute;
    visibility: hidden;
}

.header-container>.logo {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.logo>.logo-text {
    max-width: 100%;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.search-menu {
    min-width: 185px;
    width: 100%;
    position: relative;
    margin-top: 1.1rem;
}

input[type=text] {
    border: 1px solid white;
    width: 100%;
    outline: 0;
    border-radius: 15px;
    height: 3rem;
    text-indent: 10px;
    font-family: inherit;
}

input[type=text]:focus {
    border: 2px solid black;
}

form button {
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 5%;
    border: 0;
    background: 0;
    outline: 0;
}

.about {
    display: flex;
    margin-top: 1.5rem;
    line-height: 2;
}

.about-us {
    margin-right: 2rem;
}

.about-api {
    margin-right: 2rem;
}

.about-us, .about-api {
    font-size: 1.2rem;
    height: 100%;
    padding: 0 0.5rem;
}

.about-us:hover, .about-api:hover {
    border-bottom: 4px solid white;
}

.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);    
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.popup.show{
    visibility: visible;
    opacity: 1;
}

.popup.show .popup-content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.far {
    cursor: pointer;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;    
}
.popup-content {    
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    max-width: 1000px;
    padding: 30px;
    position: relative;
    transition: all 0.5s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup-close {    
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 1.5rem;
    color: #000;
}
.popup-title {
    font-size: 2rem;
    margin: 0px 0px 1em 0px;
}
.popup-text {
    font-size: 1.5rem;
    font-family: Helvetica;
}

/*****************************************************
***************************M**************************
***************************A**************************
***************************I**************************
***************************N**************************
*****************************************************/

.container {
    height: 340px;
    background: linear-gradient(#311288,#2e2e8d);    
    text-shadow: 1px 1px black;      
    display: flex;   
    border-bottom: 2rem solid #1F1C65;   
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.additional-container {
    padding-top: 3rem;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    height: 340px;
    background: white;           
    display: flex;   
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.weather {
    text-align: center;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.week-day-temperature {
    font-size: 2rem;
}
.week-day-description {
    letter-spacing: 1px;
    font-size: 1rem;
}

.details { 
    width: 100%; 
    padding: 1rem 8rem;      
    font-size: 1.5rem;       
    text-align: center;
    text-shadow: 1px 1px black;
}

.first-sight-info {
    display: flex;
    justify-content: space-between;   
}

.geolocation {
    padding-top: 3.5rem;
}

.degree {    
    display: flex;
    flex-direction: column;
}

.additional-degree {
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    display: flex;   
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 200;  
}

.separator {
    margin: 0 3rem;
}

.temperature {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 6rem;
    font-weight: 900;    
    text-shadow: 1px 3px black;
}

.last-updated {
    font-weight: 300;
}

span {
    font-weight: normal;
}

.location-data {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 650;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid white;
}

.date-data {
    margin: 0 auto;
    font-size: 1rem;
}

.description {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 1rem;    
}

.week-day {
    font-size: 1rem;
}

.additional-container {
    justify-content: center;
    
}

.daycontainer{
    padding: 0.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 230px;
    transition: 0.2s;
}

.daycontainer:hover {   
    transition: 0.2s; 
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px rgb(0, 0, 0);  
    border-radius: 5px;  
}

.additional-details, .degree-description {
    padding-top: 1.5rem;
}

.additional-details {
    opacity: 0.6;
    text-align: left;
    display: flex;    
    justify-content: space-between;
    margin-right: 2rem;
}

.additional-details:hover {
    opacity: 1;
}

.additional-name {
    margin-bottom: 0.3rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.additional-index {
    margin-bottom: 1rem;
}

.first-additional {
    margin-left: 3rem;
    margin-right: 5rem;
}

.first-additional, .second-additional {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-effect {
    display: flex;
    justify-content: center;
    opacity: 5%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.back-menu {
    position: fixed;      
    background-color: transparent;
    border: 0;
    color: white;
    opacity: 40%;
    left: 2rem;
    top: 12rem;
    font-size: 4rem;  
    height: 4rem;
    width: 4rem;  
    cursor: pointer;    
}

.back-menu:hover {
    opacity: 100%;    
}


/*Large devices, Wide screens*/
@media only screen and (max-width: 1162px){
    .back-menu {
        top: 9rem;
    }
    .header-container {
        max-width: 990px;
    }
    main {
        margin-top: 2rem;
        max-width: 990px;
    }
    .additional-details, .details {
        white-space: nowrap;
        word-wrap: none;
    } 
    .details {
        padding: 1rem 3rem;
    }    
}

/*Medium devices, Desktops*/
@media only screen and (max-width: 992px){
	.header-container {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 750px;
    }
    main {
        padding-top: 5rem;
        max-width: 750px;
    }
    body {
        background: linear-gradient(#e2aabb,#5a5ff5) no-repeat;
        background-attachment: fixed;
    }

    .header-container {
        position: relative; 
    }

    .header-burger {        
        position: absolute;
        font-size: 36px;
        visibility: visible;
        left: 67rem;        
        top: 1rem
    }  
    
    main {
        margin-top: 2rem;
    }
    .container {
        height: 50%;
        width: 75%;
        margin: 0 auto;
    }
    .first-sight-info {
        display: flex;
        flex-direction: column;
    }
    .degree-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
    .additional-degree {
        display: flex;        
    }
    .about, .search-menu {
        visibility: hidden;
    }

    .geolocation {
        order: -1;
        margin-bottom: 3rem;
    }
    .additional-container {
        height: 55%;
        width: 75%;
        margin: 0 auto;        
    }
    .weather {
        width: 75%;
        margin: 0 auto; 
        flex-wrap: wrap;              
    } 
}

/*Small devices, Tablets*/
@media only screen and (max-width: 767px){
    .header-container {
        max-width: none;
    }   
    
	main {
        max-width: none;
    } 
}

/*Extra small devices, Phones*/
@media only screen and (max-width: 480px){
	
}

/*Custom, iPhone Retina*/
@media only screen and (max-width: 320px){
	
}